* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background: #1a2e49;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul li img {
  width: 275.19px;
  height: 366.91px;
}

/* Header */

body > header {
  background: #0b0d12;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  gap: 30px;
}

header nav a {
  height: 60px;
  transform: scale(1.5);
}

header nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  gap: 30px;
}

header nav ul li a {
  font-size: 19px;
  margin-right: 20px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  text-transform: uppercase;
}

header nav ul li:nth-child(5) {
  margin-left: auto;
}

.font-17 {
  font-size: 17px;
}

/* Main */

body > main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Section 2 */

main section:nth-child(2) {
  padding-top: 40px;
  max-width: 1600px;
}

main section:nth-child(2) > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main section:nth-child(2) > div h2 {
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
}

main section:nth-child(2) > div nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

main section:nth-child(2) > div nav a {
  background: #44607d;
  /* background: linear-gradient(180deg, #1888ef 0%, #009fe9 100%); */
  font-size: 16px;
  color: #ffffff;
  border-radius: 20px;
  cursor: pointer;
  padding: 9px 26px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid transparent;
}

main section:nth-child(2) > div nav a:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    linear-gradient(180deg, #1888ef 0%, #009fe9 100%);
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.15);
}

main section:nth-child(2) > ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 44px 56px;
  margin: 40px 0;
}

main section:nth-child(2) ul li, main section:nth-child(3) ul li {
  position: relative;
}

main section:nth-child(2) ul li > a, main section:nth-child(3) ul li > a {
  transition: 0.2s all;
  display: block;
}

main section:nth-child(2) ul li > a:hover, main section:nth-child(3) ul li > a:hover {
  transform: scale(1.07);
}

main section:nth-child(2) ul li img:nth-child(1) {
  border-radius: 5px;
}

.diablo-bg,
.wow-bg,
.classic-wow-bg,
.overwatch-bg,
.hearthstone-bg,
.starcraft-bg,
.starcraft2-bg,
.diablo3-bg,
.wow3-bg,
.heroes-of-storm-bg,
.overwatch2-bg,
.diablo-immortal-bg,
.diabloIV-bg {
  position: absolute;
  right: 2px;
}

main section:nth-child(2) > ul li h3 {
  margin-top: 10px;
  margin-bottom: 6px;
  color: #ffffff;
  max-width: 45vw;
  margin: 10px 0 6px;
}

main section:nth-child(2) > ul li p {
  line-height: 15px;
  font-size: 14px;
  color: #a0a0a0;
  text-transform: uppercase;
  max-width: 45vw;
  font-weight: 500;
  margin-bottom: 10px;
}

main section:nth-child(2) ul li {
  display: block;
}

main section:nth-child(2) ul li ul,
main section:nth-child(3) ul li ul {
  display: flex;
  gap: 8px;
}

main section:nth-child(2) ul li ul li a svg,
main section:nth-child(3) ul li ul li a svg {
  width: 20px;
  color: #a0a0a0;
}

/* Section 3 */

main section:nth-child(3) {
  width: 100%;
  max-width: 1600px;
  padding-bottom: 80px;
}

main section:nth-child(3) h2 {
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
}

main section:nth-child(3) > ul {
  display: flex;
  gap: 44px 56px;
  margin: 40px 0;
}

main section:nth-child(3) > ul li h3 {
  margin-top: 10px;
  margin-bottom: 6px;
  color: #ffffff;
  max-width: 45vw;
  margin: 10px 0 6px;
}

main section:nth-child(3) > ul li p {
  line-height: 15px;
  font-size: 14px;
  color: #a0a0a0;
  text-transform: uppercase;
  max-width: 45vw;
  font-weight: 500;
  margin-bottom: 10px;
}

main section:nth-child(3) div:nth-child(3) {
  display: flex;
  justify-content: center;
}

main section:nth-child(3) div:nth-child(3) a {
  background: #158bee;
  font-size: 24px;
  color: #ffffff;
  padding: 20px 40px;
  border-radius: 40px;

  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  text-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  font-weight: 600;
}

main section:nth-child(3) div:nth-child(3) a:hover {
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.432),
    rgba(255, 255, 255, 0.1)
  );
}

main section:nth-child(3) ul li img {
  width: 275.19px;
  height: 275.19px;
  border-radius: 5px;
}

/* Section 4 */

main section:nth-child(4) {
  background: #212c38;
  width: 100%;
  height: 600px;
  padding: 80px 0;
}

main section:nth-child(4) > div {
  background: url(https://images.blz-contentstack.com/v3/assets/blta8f9a8e092360c6c/blt764c5b7fc6a4146b/620167e3f2c2644f956a8312/Mobile_Bnet_Card-02.2.jpg?auto=webp)
    no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-radius: 15px;
  padding: 0 160px;
}

main section:nth-child(4) > div img {
  width: 329px;
}

main section:nth-child(4) > div h1 {
  font-size: 60px;
  color: #ffffff;
  margin: 40px 0 20px 0;
}

main section:nth-child(4) > div p {
  margin-bottom: 30px;
  line-height: 11px;
  font-size: 24px;

  font-weight: 500;
  color: #ffffff;
  opacity: 0.7;
  text-shadow: rgb(0 0 0 / 30%) 0px 4px 8px;
}

main section:nth-child(4) > div > div {
  display: flex;
  gap: 15px;
}

main section:nth-child(4) > div > div a {
  font-size: 24px;
  color: #ffffff;
  padding: 20px 40px;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  text-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  font-weight: 600;
}

main section:nth-child(4) > div > div a:nth-child(1) {
  background: #158bee;
}

main section:nth-child(4) > div > div a:nth-child(2) {
  background: #303d59;
}
