.aula3--defaultButton {
    color: $fontPrimaryColor;
    background-color: transparent;
    border: 1px solid $fontPrimaryColor;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    font-family: $font-mono;
    line-height: 1;
    text-decoration: none;
    font-size: 13px;
    margin-left: 15px;
    font-weight: 400;
    
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: $fontPrimaryColorHover;
    }
}