section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    align-items: flex-start;
    min-height: 100vh;

    &:nth-child(1) {
        justify-content: center;
    }

    &:nth-child(2) {
        color: white;
    }

    h4 {
        font-family: $font-mono;
        font-weight: 400;
        color: $fontPrimaryColor;
        margin: 0 0px 30px 4px;
    }

    h2 {
        font-size: $fontH1SizeDefault;
        color: $gray500;
        font-weight: 700;
        line-height: 1.1;
    }

    h1 {
        font-size: $fontH1SizeDefault;
        color: $gray600;
        line-height: 1.1;
    }

    p {
        margin-top: 20px;
        max-width: 540px;
        color: $gray600;

        > strong {
            color: $fontPrimaryColor;
        }
    }

    button {
        color: $fontPrimaryColor;
        background-color: transparent;
        border: 1px solid $fontPrimaryColor;
        border-radius: 4px;
        padding: 1.25rem 1.75rem;
        font-size: 14px;
        font-family: $font-mono;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s;
        margin-top: 50px;

        &:hover {
            background: $fontPrimaryColorHover;
        }
    }
}