header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    > h4 {
        font-size: 1.2rem;
        color: $fontPrimaryColor;
        font-weight: 500;
    }
    
    nav {
        display: flex;
        gap: 10px;

        a {
            display: flex;
            align-items: center;
            gap: 9px;
            text-decoration: none;
            color: $fontPrimaryColor;
            transition: all 0.3s;
            font-size: 13px;
            font-weight: 500;
            
            p {
                font-size: 13px;
                margin: 0;
                color: $gray500;
                transition: all 0.3s;

                &:hover {
                    color: $fontPrimaryColor;
                }
            }
        }
    }
}