.blizzard--content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px
}

.content-title {
    font-size: 36px;
    font-weight: bold;
    color: #fff
}

@media (max-width: 991px) {
    .blizzard--content-header {
        display: flex;
        flex-direction: column;
    }
}